extends ./layout.jade

block content
  .container
    h1.text-center Message Board

    .col-md-7
    h2.featurette-heading
      | Message Board      
    p.lead
      | Message Board notes



//- block stuff
//-   h1 This is index.jade
//-   ul
//-     if names
//-       each name in names
//-         li= name


//- doctype html
//- html(lang="en")
//-   head
//-     title= title
//-     script(src='//code.jquery.com/jquery-2.2.3.min.js')
//-     style
//-         include style.css
//-   body
//-     h1 Jade - node template engine
//-     if name
//-       p Hello #{name}!
//-       div Hi
//-     else
//-       p Hi!
//-     ul
//-       each name in names
//-         li=name

//-   script
//-       include script.js
