extends ./layout.jade

block content
  .container
    //- h1.text-center Input

  form
    .form-group
      label(for='postContent') Post Content
      input#postContent.form-control(type='text', placeholder='Post Content')
    button.btn.btn-default(type='submit') Submit
